html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:root{
  --color-primary: #762a35;
  --color-secundary: #dbcfc6;
  --color-black: #333333;

  --font-x-large: 3rem;
  --font-large: 1.8rem;
  --font-medium: 1.4rem;
  --font-regular: 1.2rem;
  --font-small: 0.8rem;

  --s-01: 0.1rem;
  --s-02: 0.2rem;
  --s-05: 0.5rem;
  --s-1: 1rem;
  --s-2: 2rem;
}

select, input, textarea{
    margin-top: var(--s-02);
    padding: var(--s-05);
    display: block;
}

select:focus, input:focus, textarea:focus{
    outline: var(--s-02) var(--color-primary) solid;
}

body {
  font-family: sans-serif;
  line-height: 1.2;
}

.hidden{
  display: none;
}

.container{
  margin: 1rem auto;
  width: 60rem;
}

.header{
  background-color: var(--color-primary);
  color: var(--color-secundary);
  padding: var(--s-1);
}

.header__title{
  font-size: var(--font-x-large);
  text-transform: uppercase;
}

.header__subtitle{
  font-size: var(--font-large);
}

.filter{
  margin: var(--s-1) 0;
  padding: var(--s-1);
  border: var(--s-01) solid var(--color-primary);
  display: flex;
  align-items: flex-end;
}

.form-wrapper{
    margin: var(--s-1);
}

.form-label{
    color: #777;
    margin-bottom: var(--s-05);
}

.filter-button{
    padding: var(--s-05);
    background-color: var(--color-primary);
    color: var(--color-secundary);
    border: var(--s-02) var(--color-primary) solid;
    text-transform: uppercase;
    font-weight: bold;
}

.filter-button:hover{
    color: var(--color-primary);
    background-color: var(--color-secundary);
    border: var(--s-02) var(--color-primary) solid;
}

.episode{
  display: flex;
  padding: var(--s-1) 0;
}

.episode__image{
  margin-right: var(--s-1);
}

.episode__title{
  font-size: var(--font-regular);
  font-weight: bold;
  color: var(--color-primary);
}

.episode__description{
  text-align: justify;
}

.episode__rating{
  font-style: italic;
  font-size: var(--font-small);
  margin: var(--s-01) 0;
}

.episode__rating::after{
  content: "\2605";
}

.episode__meta{
  font-size: var(--font-small);
  margin-top: 1rem;
}

.gold{
  color: goldenrod;
}

.silver{
  color: silver;
}

.bronze{
  color: #804a00;
}

